.main{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px;
    margin-right: auto;
    margin-left: auto;
}
.span-row{
    width:300px;
    background: rgb(8, 136, 255);
    color:white;
    border-radius: 20px;
    padding: 20px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.span-row:hover{
    animation: rotate 0.8s 1 forwards;
    cursor: pointer;
    -webkit-animation: rotate 0.8s 1 forwards;
}
@keyframes rotate{
    0%{ transform:rotate(0deg) ; -webkit-transform:rotate(0deg) ; -moz-transform:rotate(0deg) ; -ms-transform:rotate(0deg) ; -o-transform:rotate(0deg) ; }
    35%{ transform:rotate(30deg) ; -webkit-transform:rotate(30deg) ; -moz-transform:rotate(30deg) ; -ms-transform:rotate(30deg) ; -o-transform:rotate(30deg) ; }
    75%{ transform:rotate(-30deg) ; -webkit-transform:rotate(-30deg) ; -moz-transform:rotate(-30deg) ; -ms-transform:rotate(-30deg) ; -o-transform:rotate(-30deg) ; }
}